body {
    background-color: #1b2752;
    font-family: 'Gandom', 'ubunto', 'tahoma' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder {
    color: #f8f8f4;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    color: #f8f8f4 !important;
    background-color: #4e5da2 !important;
    border-color: #81d4fa !important;
}

.form-control {
    background-color: #4e5da2 !important;
    color: #f8f8f4 !important;
    border-color: #81d4fa !important;
}
